html, body {
  margin: 0;
  padding: 0;
  background-image:url(greybg.png);
  font-family: Arial, Helvetica, sans-serif;
}

#navContent{
  margin:auto;
  width:800px;
  height:400px;
  position:relative;
  overflow:hidden;
}

#game1{
  margin:auto;
  width: 800px;
  height: 400px;
  right: 0px;
  position:absolute;
}

#game2{
  margin:auto;
  width:800px;
  height:400px;
  right:-800px;
  position:absolute;
}
